body {
    padding-top: 60px;
    padding-bottom: 60px;
}

td {
	padding: 2px;
	border-left: 2px;
	border-right: 2px;
}

th {
	padding: 2px;
	border-left: 2px;
	border-right: 2px;
}

table {
	border: 1px solid black;
}

.copyright {
    color: #ffffff;
    margin-bottom: 2px;
}

.footer {
    text-align: center;
}

.footer a {
    color: #ee4444;
}

.sidebar h1 {
    color: #ee4444;
    font-size: 1.3em;
}

.sidebar a {
    color: #428bca;
}

.sidebar li {
    margin-top: .7em;
    line-height: 1em;
}

.sidebar a:hover {
    color: #3071a9;
}

.container-left {
    margin: 0;
}

.well h1 {
    color: #ee4444;
    font-size: 1.3em;
    margin-top: 0px;
}

.well {
    padding: 4px;
    margin-bottom: 12px;
}

.col-xs-1,.col-sm-1,.col-md-1,.col-lg-1,.col-xs-2,.col-sm-2,.col-md-2,.col-lg-2,.col-xs-3,.col-sm-3,.col-md-3,.col-lg-3,.col-xs-4,.col-sm-4,.col-md-4,.col-lg-4,.col-xs-5,.col-sm-5,.col-md-5,.col-lg-5,.col-xs-6,.col-sm-6,.col-md-6,.col-lg-6,.col-xs-7,.col-sm-7,.col-md-7,.col-lg-7,.col-xs-8,.col-sm-8,.col-md-8,.col-lg-8,.col-xs-9,.col-sm-9,.col-md-9,.col-lg-9,.col-xs-10,.col-sm-10,.col-md-10,.col-lg-10,.col-xs-11,.col-sm-11,.col-md-11,.col-lg-11,.col-xs-12,.col-sm-12,.col-md-12,.col-lg-12{
    position:relative;
    min-height:1px;
    padding-right:4px;
    padding-left:4px
}

.author {
    color: #ee4444;
}

.author a {
    color: #ee4444;
}

.red {
	color: #cc3333;
}

.green {
	color: #33cc33;
}