body {
    padding-top: 60px;
    padding-bottom: 60px;
}

td {
	padding: 2px;
	border-left: 2px;
	border-right: 2px;
}

th {
	padding: 2px;
	border-left: 2px;
	border-right: 2px;
}

table {
	border: 1px solid black;
}

.copyright {
    color: #ffffff;
}

.footer {
    text-align: center;
}

.footer a {
    color: #ee4444;
}

.sidebar h1 {
    color: #ee4444;
    font-size: 1.3em;
}

.sidebar a {
    color: #428bca;
}

.sidebar li {
    margin-top: .7em;
    line-height: 1em;
}

.sidebar a:hover {
    color: #3071a9;
}

.container-left {
    margin: 0;
}

.well h1 {
    color: #ee4444;
    font-size: 1.3em;
}

.author {
    color: #ee4444;
}

.author a {
    color: #ee4444;
}

.red {
	color: #cc3333;
}

.green {
	color: #33cc33;
}